body {
    box-sizing: border-box;
  }

  div#derriere {
    /* background-image: url(html_css_js.png); 
    background-size: 40%; */
    background-color: black;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1; 
    /*opacity: 25%;*/
  }

  
div#fond {
  background-color: white;
  border: 2px solid rgb(15, 150, 37);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.2%;
}

div#photointro {
  border: 1px solid black;
  margin-right: 2%;
}

div#photointro img{
  width: 100%;
}

div#titre img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

div#intro {
  display: flex;
}

div#multi {
  display: flex;
}

div#photo16 img{
  width: 100%;
}

div#photo img{
  width: 90%;
  margin-left: 4%;
  margin-bottom: 1%;
}


div#rs {
  display: flex;
  margin-top: 2.5%;
}

div#rs img {
  margin-left: 44%;
  max-width: 20%;
  height: auto;
}

nav {
  display: flex; 
  background-color: rgb(15, 150, 37);
}

nav ul {
  list-style-type: none;
  margin: auto;
}

nav li {
  position: relative;
  list-style-type: none;
  width: 150px;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

nav li:hover {
  background-color: rgb(66, 185, 36);
  border: 1px solid black;
}

nav a {
  text-decoration: none;
  color: black;
}
